

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.userId, model.user)" class="navbar-link">
          <span class="glyphicon glyphicon-ok" ng-hide="form1.email.$error.email">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="imagecontainer">
        <img src="http://operationaviation.com/uploads/3/4/8/1/3481844/2371344_orig.jpg"/>
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <form name="form1">
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   name="email"
                   ng-model="model.user.email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com"
            >
            <span class="error" ng-show="form1.email.$error.required">
                    Required!</span>
            <span class="error" ng-show="form1.email.$error.email">
                    Not valid email!</span>



        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first-name"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#!/user/{{model.userId}}/website">
        Websites
    </a>
    <a class="btn btn-danger  btn-block"
       href="#!/login">
        Logout
    </a>


</div>

<div ng-include="'views/common/footer.view.client.html'"></div>