<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand pull-left active" href="#!/indeedSearch"><span class="fa fa-info-circle"></span> Indeed
            Search</a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="!model.currentUser._id"><a href="#!/"><span class="fa fa-home"></span> Home</a></li>
                <li><a href="#!/about"><span class="fa fa-question"></span> About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">

    <h1>Indeed Search</h1>
    <div class="form-group">
        <div class="col-xs-6">
            <label for="what">What</label>
            <input ng-model="model.title"
                   type="text"
                   class="form-control"
                   id="what"
                   placeholder="Java">
            <label for="location">Location</label>
            <input ng-model="model.location"
                   type="text"
                   class="form-control"
                   id="location"
                   placeholder="Boston">
            <div class="form-group">
                <label for="country">Country</label>
                <select ng-model="model.country"
                        id="country"
                        class="form-control"
                        ng-value="us">
                    <option value="us">United States</option>
                    <option value="cn">China</option>
                    <option value="gb">United Kingdom</option>
                    <option value="at">Austria</option>
                    <option value="fr">France</option>
                    <option value="it">Italy</option>
                    <option value="ru">Russia</option>
                    <option value="es">Spain</option>
                </select>
            </div>
            <button class="btn btn-primary btn-block"
                    ng-click="model.searchJobs(model.title, model.location, model.country)">
                Find Jobs
            </button>
            <h3>Search Results</h3>
            <ul class="list-group">
                <li ng-click="model.searchJobDetails(job.jobkey)"
                    ng-repeat="job in model.jobs"
                    class="list-group-item">
                    <div class="line"><b>Job Position: </b>{{job.jobtitle}}</div>
                    <div class="line"><b>Company: </b>{{job.company}}</div>
                    <div class="line"><b>Location: </b>{{job.formattedLocation}}</div>
                    <div class="line"><b>Post: </b>{{job.formattedRelativeTime}}</div>
                </li>
            </ul>
        </div>
    </div>


    <div class="col-xs-6">
        <h3>Job Details</h3>
        <h4>{{model.job.jobtitle}}</h4>
        <div class="company-detail"><i>{{model.job.company}}</i>{{model.job.formattedLocationFull}}</div>
        <div class="date">{{model.job.date}}</div>
        <div class="snippet"><p>{{model.job.snippet}}</p></div>
        <p>If you want to get more details, click <a href="{{model.job.url}}">{{model.job.url}}</a></p>
        <div class="indeedlink">
                <span id="indeed_at">
                    <a title="Job Search"
                       href="https://www.indeed.com"
                       rel="nofollow">jobs by
                        <img alt=Indeed
                             src="https://www.indeed.com/p/jobsearch.gif">
                    </a>
                </span>
        </div>
    </div>
</div>