<div class="container-fluid">

    <h1>Text Edit</h1>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           class="form-control"
           placeholder="Text Name"
           id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text"
           class="form-control"
           placeholder="Text"
           id="text"
           type="text"/>

    <label for="rows">Rows</label>
    <input ng-model="model.widget.rows"
           id="rows"
           class="form-control"
           placeholder="1"
           type="number"/>

    <label for="placeholder">Placeholder</label>
    <input ng-model="model.widget.placeholder"
           id="placeholder"
           class="form-control"
           placeholder="Placeholder"
           type="text"/>

    <label for="formatted">Formatted</label>
    <input ng-model="model.widget.formatted"
           type="checkbox"
           id="formatted"
           value="Formatted"/>

    <a ng-click="model.deleteWidget(model.pageId, model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>

    <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       class="btn btn-block btn-success">
        Cancel
    </a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
