<div class="container-fluid">

    <h1>Youtube Edit</h1>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           class="form-control"
           placeholder="Video Name"
           id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text"
           class="form-control"
           placeholder="Video Description"
           id="text"/>

    <label for="url">URL</label>
    <input ng-model="model.widget.url"
           class="form-control"
           placeholder="https://"
           id="url"/>

    <label for="width">Width</label>
    <input ng-model="model.widget.width"
           class="form-control"
           placeholder="100%"
           id="width"/>

    <a ng-click="model.deleteWidget(model.pageId, model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>

    <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       class="btn btn-block btn-success">
        Cancel
    </a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
