<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand pull-left active" href="#!/search/posting"><span class="fa fa-search"></span> Search
            Posting</a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="#!/admin"><span
                        class="fa fa-id-card-o"></span> Admin</a></li>
                <li><a href="#!/profile"><span class="fa fa-user"></span> Profile</a></li>
                <li><a href="#!/posting"><span class="fa fa-file-text"></span> My Postings</a></li>
                <li><a href="#!/search/user"><span class="fa fa-user-circle-o"></span> Search User</a></li>
                <li><a ng-click="model.logout()"><span class="fa fa-sign-out"></span> Log out</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="!model.currentUser._id"><a href="#!/"><span class="fa fa-home"></span> Home</a>
                        </li>
                        <li><a href="#!/followers"><span class="fa fa-users"></span> Followers</a></li>
                        <li><a href="#!/followings"><span class="fa fa-user-plus"></span> Followings</a></li>
                        <li><a href="#!/indeedSearch"><span class="fa fa-info-circle"></span> Search by Indeed</a></li>
                        <li ng-show="model.currentUser._id" role="separator" class="divider"></li>
                        <li class="dropdown-header">More</li>
                        <li><a href="#!/about"><span class="fa fa-question"></span> About</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="input-group">
        <input ng-model="model.keyword"
               type="text"
               placeholder="Input Posting title"
               class="form-control">
        <span class="input-group-btn">
                    <a ng-click="model.searchByName(model.keyword)"
                       class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
        </span>
    </div>
    <br/>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <p ng-show="model.result">Found {{model.result.length}} postings for you.</p>
            <li ng-repeat="posting in model.result" class="list-group-item">
                <div ng-click="model.findPostingById(posting._id)"
                     class="line">
                    <b>Job Title: </b>{{posting.job_title}}
                </div>
            </li>
        </div>
    </div>

    <div class="col-xs-6">
        <h3 ng-show="model.result">Posting Details</h3>
        <h3>{{model.posting.job_title}}</h3>
        <div class="company-detail"><i>{{model.posting.company}}</i>{{model.posting.location}}</div>
        <div class="date">{{model.posting.dateCreated}}</div>
        <div class="snippet"><p>{{model.posting.description}}</p></div>
        <div ng-if="model.posting.username === null" class="poster-error">
            <p ng-if="model.posting.username === null" class="error">The user who posted this posting has been
                unregistered.</p>
        </div>
        <div ng-if="model.posting.username" class="poster">
            <p ng-if="model.posting._employer === model.userId">Post By Yourself</p>
            <p ng-if="model.posting._employer !== model.userId">Post By User
                <a href="#!/user/{{model.posting._employer}}/posting">{{model.posting.username}}</a>
            </p>
        </div>
    </div>
</div>