<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<p class="navbar-text pull-left">-->
                <!--<a href="#!/hunterProfile" class="navbar-link">-->
                    <!--<span class="glyphicon glyphicon-arrow-left"></span>-->
                <!--</a>-->
            <!--</p>-->
            <!--<a class="navbar-brand" href="#">-->
                <!--Search User-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<!--<div class="container-fluid">-->
    <!--<div ng-show="model.error" class="alert alert-danger">-->
        <!--{{model.error}}-->
    <!--</div>-->


    <!--<label for="keyword">User</label>-->
    <!--<input ng-model="model.keyword"-->
           <!--type="text"-->
           <!--id="keyword"-->
           <!--class="form-control"-->
           <!--placeholder="alice"/>-->

    <!--<a ng-click="model.searchUser(model.keyword)"-->
       <!--class="btn btn-info btn-block">-->
        <!--Search User-->
    <!--</a>-->


    <!--<h2>Search Results</h2>-->


<!--</div>-->
