<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Search Posting
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <!--{{model.jobs}}-->
    <div class="input-group">
        <input ng-model="model.keyword"
               type="text"
               placeholder="Input Posting title"
               class="form-control">
        <span class="input-group-btn">
                    <a ng-click="model.searchByName(model.keyword)"
                       class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <p>Found {{model.result.length}} postings for you.</p>
            <li ng-repeat="posting in model.result" class="list-group-item">
                <div ng-click="model.findPostingById(posting._id)"
                     class="line">
                    <b>Job Title: </b>{{posting.job_title}}
                </div>
            </li>
        </div>
    </div>


    <div class="col-xs-6">
        <h2>Posting Details</h2>
        <h3>{{model.posting.job_title}}</h3>
        <div class="company-detail"><i>{{model.posting.company}}</i>{{model.posting.location}}</div>
        <div class="date">{{model.posting.dateCreated}}</div>
        <div class="snippet"><p>{{model.posting.description}}</p></div>
    </div>
</div>