<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<p class="navbar-text pull-left">-->
                <!--<a href="#!/hunterProfile" class="navbar-link">-->
                    <!--<span class="glyphicon glyphicon-arrow-left"></span>-->
                <!--</a>-->
            <!--</p>-->
            <!--<a class="navbar-brand" href="#">-->
                <!--Search Job-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<!--<div class="container-fluid"-->
     <!--ng-controller="searchJobController as model">-->

    <!--<div ng-show="model.error" class="alert alert-danger">-->
        <!--{{model.error}}-->
    <!--</div>-->

    <!--&lt;!&ndash;{{model.jobs}}&ndash;&gt;-->

    <!--<div class="form-group">-->
        <!--<div class="col-xs-6">-->
            <!--<label for="what">Field</label>-->
            <!--<input ng-model="model.field"-->
                   <!--type="text"-->
                   <!--class="form-control"-->
                   <!--id="what"-->
                   <!--placeholder="Java">-->
            <!--<label for="location">Location</label>-->
            <!--<input ng-model="model.location"-->
                   <!--type="text"-->
                   <!--class="form-control"-->
                   <!--id="location"-->
                   <!--placeholder="Boston">-->
            <!--<button class="btn btn-primary btn-block"-->
                    <!--ng-click="model.searchJobs(model.location, model.field)">-->
                <!--Find Jobs-->
            <!--</button>-->
            <!--<h2>Search Results</h2>-->
            <!--<ul class="list-group">-->
                <!--<li ng-click="model.findPostingById(posting._id)"-->
                    <!--ng-repeat="posting in model.postings"-->
                    <!--class="list-group-item">-->
                    <!--<div class="line"><b>Job Position: </b>{{posting.job_title}}</div>-->
                    <!--<div class="line"><b>Company: </b>{{posting.company}}</div>-->
                    <!--<div class="line"><b>Post: </b>{{posting.dateCreated}}</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="col-xs-6">-->
        <!--<h2>Job Details</h2>-->
        <!--<h3>{{model.posting.job_title}}</h3>-->
        <!--<div class="company-detail"><i>{{model.posting.company}}</i>{{model.posting.location}}</div>-->
        <!--<div class="date">{{model.posting.dateCreated}}</div>-->
        <!--<div class="snippet"><p>{{model.posting.description}}</p></div>-->
    <!--</div>-->
<!--</div>-->