<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Search User
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="input-group">
        <input ng-model="model.keyword"
               type="text"
               placeholder="Input username"
               class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchByUsername(model.keyword)"
               class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <p>Found {{model.result.length}} users for you.</p>
    <ul class="list-group">
        <li ng-repeat="user in model.result"
            class="list-group-item"
            href="#!/user/{{user._id}}/posting">
            <a ng-click="model.follow(user)"><span class="glyphicon glyphicon-plus pull-right"></span></a>
            <p><b>Username: </b>{{user.username}}</p>
            <p><b>Name: </b>{{user.firstName + " " + user.lastName}}</p>
            <p><b>Job Position: </b>{{user.job_position}}</p>
            <p><b>Company: </b>{{user.company}}</p>
            <p><b>Email: </b>{{user.email}}</p>
        </li>
    </ul>
</div>
