.line {
    font-size: medium;
}

.company-detail {
    display: inline-block;
}

.date {
    text-align: right;
    color: #8c8c8c;
}

.poster {
    text-align: right;
}

.poster-error {
    border: 2px #ce8483 solid;
    vertical-align: middle;
}

.poster-error .error {
    text-align: center;
    vertical-align: middle;
}

.indeedlink {
    text-align: left;
    /*margin-right: auto;*/
}

.indeedlink img {
    border: 0;
    vertical-align: middle;
    width: auto;
}