input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 10px;
    padding-left: 20px;
}

body {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: papayawhip;
}

.navbar-default {
    background-color: #222222;
    border-color: #222222;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    width: 100%;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar.navbar-default a {
    color: #ffffff;
}

.navbar-default.style {
    margin-left: 15px;
}

.bg-image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-image: url("../image/WechatIMG431.jpeg");
    background-size: cover;
}

.header-content {
    padding: 100px 15px;
}

.header-content .header-content-inner h1 {
    font-weight: 900;
    color: #fed136;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.header-content .header-content-inner hr {
    margin: 30px auto;
}

.header-content .header-content-inner p {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 50px;
    color: wheat;
}


img {
    vertical-align: middle;
    width: 100%;
    margin-bottom: 5px;
}



.list-group .col-xs-1 {
    margin: 0;
    padding-left: 0px;
}

nav.navbar.navbar-default {
    background-image: none;
}

.btn {
    margin-top: 10px !important;
}

.btn-group-justified {
    margin-top: 10px !important;
    margin-bottom: 10px; !important;
}

.input-group-btn .btn-default{
    display: inherit;
}
