<div ng-controller="loginController" class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand pull-left active" href="#!/login"><span class="fa fa-sign-in"></span> Login</a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-show="!model.currentUser._id"><a href="#!/"><span class="fa fa-home"></span> Home</a></li>
                    <li ng-show="!model.currentUser._id"><a href="#!/register"><span class="fa fa-sign-in"></span> Register</a></li>
                    <li><a href="#!/indeedSearch"><span class="fa fa-info-circle"></span> Search by Indeed</a></li>
                    <li ng-show="!model.currentUser._id"><a href="#!/search"><span class="fa fa-search"></span> Search Posting</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-show="model.currentUser._id"><a href="#!/profile"><span class="fa fa-user"></span> Profile</a></li>
                            <li ng-show="model.currentUser._id"><a href="#!/search/posting"><span class="fa fa-search"></span> Search Posting</a></li>
                            <li ng-show="model.currentUser._id"><a href="#!/search/user"><span class="fa fa-user-circle-o"></span> Search User</a></li>
                            <li ng-show="model.currentUser._id" role="separator" class="divider"></li>
                            <li class="dropdown-header">More</li>
                            <li><a href="#!/about"><span class="fa fa-question"></span> About</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <h1>Login</h1>
    <br/>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input ng-model="username"
           type="text"
           id="username"
           class="form-control"
           placeholder="mike123"/>

    <label for="password">Password</label>
    <input ng-model="password"
           type="password"
           id="password"
           class="form-control"
           placeholder="123456qwerty"/>

    <a ng-click="model.login(username, password)"
       class="btn btn-info btn-block">
        Login
    </a>

    <a class="btn btn-primary btn-block"
       href="#!/register">
        Register
    </a>
    <a class="btn btn-danger btn-block"
       href="#!/">
        Cancel
    </a>

</div>