
<nav class="navbar navbar-inverse navbar-fixed-top">
    <!--<div class="container">-->
    <div class="navbar-header">
        <a class="navbar-brand pull-left active" href="#!/profile"><span class="fa fa-user"></span>Profile</a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="#!/admin">Admin</a></li>-->
                <!--<li class="active"><a href="#!/">Home</a></li>-->
                <!--<li><a href="#!/admin">Admin</a></li>-->
                <li><a href="#!/posting"><span class="fa fa-file-text"></span> My Postings</a></li>
                <li><a href="#!/followings"><span class="fa fa-user-plus"></span> Following</a></li>
                <li><a href="#!/followers"><span class="fa fa-users"></span> Followers</a></li>
                <li><a ng-click="model.logout()"><span class="fa fa-sign-out"></span> Log out</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="!model.currentUser._id"><a href="#!/"><span class="fa fa-home"></span> Home</a></li>
                        <li><a href="#!/search/user"><span class="fa fa-user-circle-o"></span> Search User</a></li>
                        <li><a href="#!/search/posting"><span class="fa fa-search"></span> Search Posting</a></li>
                        <li><a href="#!/indeedSearch"><span class="fa fa-info-circle"></span> Search by Indeed</a></li>
                        <li ng-show="model.currentUser._id" role="separator" class="divider"></li>
                        <li class="dropdown-header">More</li>
                        <li><a href="#!/about"><span class="fa fa-question"></span> About</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->

    </div>
</nav>

<div class="container-fluid">
    <h1>Profile</h1>
    <br/>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <form name="form1">
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   name="email"
                   ng-model="model.user.email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com">
            <span class="error" ng-show="form1.email.$error.required">
                    Required!</span>
            <span class="error" ng-show="form1.email.$error.email">
                    Not valid email!</span>
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first-name"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last-name"
                   placeholder="Wonderland">
        </div>
        <div class="form-group">
            <label for="company">Company</label>
            <input type="text"
                   id="company"
                   ng-model="model.user.company"
                   class="form-control"
                   placeholder="Facebook"/>
        </div>
        <div class="form-group">
            <label for="job-position">Job Position</label>
            <input type="text"
                   id="job-position"
                   ng-model="model.user.job_position"
                   class="form-control"
                   placeholder="Manager"/>
        </div>
    </form>

    <a class="btn btn-success btn-block"
       ng-click="model.updateUser(model.userId, model.user)"
       ng-hide="form1.email.$error.email">
        Update
    </a>
</div>