

<div class="container-fluid">
    <div class="imagecontainer">
        <img src="http://www.cheaperaccountant.co.uk/communities/6/004/013/231/526/images/4631459784.jpg"/>
    </div>

    <h3>Register As Employer</h3>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input type="text"
           id="username"
           ng-model="username"
           class="form-control"
           placeholder="Username, such as 'mike123'"/>

    <label for="password">Password</label>
    <input type="password"
           id="password"
           ng-model="password"
           class="form-control"
           placeholder="Password, such as '123456qwerty'"/>

    <label for="password2">Confirm Password</label>
    <input type="password"
           id="password2"
           ng-model="password2"
           class="form-control"
           placeholder="Confirm password"/>

    <label for="company">Company</label>
    <input type="text"
           id="company"
           ng-model="company"
           class="form-control"
           placeholder="Input your company"/>

    <label for="job-position">Job Position</label>
    <input type="text"
           id="job-position"
           ng-model="job_position"
           class="form-control"
           placeholder="Input your job position"/>

    <a ng-click="model.register(username, password, password2, company, job_position)"
       class="btn btn-primary btn-block">
        Register
    </a>

    <a class="btn btn-danger  btn-block"
       href="#!/login">Cancel</a>
</div>