
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widgetId, model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADING">
            <ng-include src="'views/widget/editors/widget-heading-edit.view.client.html'">
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/editors/widget-image-edit.view.client.html'">
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/editors/widget-youtube-edit.view.client.html'">
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/editors/widget-html-edit.view.client.html'">
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
