<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Editor (Image)
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="Image Name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="Image Description"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="https://"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           placeholder="100%"
           value="100%"
           id="width"/>

    <label for="file">Upload</label>
    <input id="file" multiple type="file" class="form-control"/>

    <a href="widget-list.html"
       class="btn btn-block btn-primary">Upload Image</a>

    <a href="widget-list.html"
       class="btn btn-block btn-danger">Delete</a>
    <a href="widget-list.html"
       class="btn btn-block btn-success">Cancel</a>

</div>

<<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="../user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>