<div class="container-fluid">
    <h1>HTML Edit</h1>

    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           class="form-control"
           placeholder="HTML Name"
           id="name"/>

    <label for="text">HTML Text</label>
    <div ng-model="model.widget.text"
         id="text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                      ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                      ['indent','outdent'],['html']]">
    </div>


    <a ng-click="model.deleteWidget(model.pageId, model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>

    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       class="btn btn-block btn-success">
        Cancel
    </a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
