<div class="container-fluid">
    <h1>Heading Edit</h1>

    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           class="form-control"
           placeholder="Header Name"
           id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text"
           class="form-control"
           placeholder="facebook"
           id="text"/>

    <label for="size">Size</label>
    <select ng-model="model.widget.size"
            id="size"
            class="form-control">
        <option value="1" >1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <!--<select ng-model="model.widget.size"-->
            <!--id="size">-->
        <!--<option value="1" selected="selected">1</option>-->
        <!--<option value="2">2</option>-->
        <!--<option value="3">3</option>-->
        <!--<option value="4">4</option>-->
        <!--<option value="5">5</option>-->
        <!--<option value="6">6</option>-->
    <!--</select>-->

    <a ng-click="model.deleteWidget(model.pageId, model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>

    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       class="btn btn-block btn-success">
        Cancel
    </a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
