<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand pull-left active" href=""><span class="fa fa-list-alt"></span> Posting Details</a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="#!/admin"><span
                        class="fa fa-id-card-o"></span> Admin</a></li>
                <li><a href="#!/profile"><span class="fa fa-user"></span> Profile</a></li>
                <li><a href="#!/posting"><span class="fa fa-file-text"></span> My Postings</a></li>
                <li><a href="#!/search/posting"><span class="fa fa-search"></span> Search Posting</a></li>
                <li><a ng-click="model.logout()"><span class="fa fa-sign-out"></span> Log out</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="!model.currentUser._id"><a href="#!/"><span class="fa fa-home"></span> Home</a>
                        </li>
                        <li><a href="#!/search/user"><span class="fa fa-user-circle-o"></span> Search User</a></li>
                        <li><a href="#!/followers"><span class="fa fa-users"></span> Followers</a></li>
                        <li><a href="#!/followings"><span class="fa fa-user-plus"></span> Followings</a></li>
                        <li><a href="#!/indeedSearch"><span class="fa fa-info-circle"></span> Search by Indeed</a></li>
                        <li ng-show="model.currentUser._id" role="separator" class="divider"></li>
                        <li class="dropdown-header">More</li>
                        <li><a href="#!/about"><span class="fa fa-question"></span> About</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <h3>{{model.posting.job_title}}</h3>
            <div class="field"><p><b>Field: </b>{{model.posting.field}}</p></div>
            <div class="company-detail"><i><b>Company: </b>{{model.posting.company}}</i>{{model.posting.location}}</div>
            <div class="snippet"><p><b>Description: </b>{{model.posting.description}}</p></div>
            <div ng-if="model.posting._employer !== model.userId" class="date"><p>Post By
                <a href="#!/user/{{model.posting._employer}}/posting">
                    {{model.posting.username}}</a> on {{model.posting.dateCreated}}</p></div>
        </li>
    </ul>
</div>

